@font-face {
    font-family: 'Sonny Vol 2 UltraBlack';
    src: url('SonnyVol2-UltraBlackItalic.eot');
    src: local('Sonny Vol 2 UltraBlack Italic'), local('SonnyVol2-UltraBlackItalic'),
        url('SonnyVol2-UltraBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('SonnyVol2-UltraBlackItalic.woff2') format('woff2'),
        url('SonnyVol2-UltraBlackItalic.woff') format('woff'),
        url('SonnyVol2-UltraBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Sonny Vol 2';
    src: url('SonnyVol2-RegularItalic.eot');
    src: local('Sonny Vol 2 Regular Italic'), local('SonnyVol2-RegularItalic'),
        url('SonnyVol2-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('SonnyVol2-RegularItalic.woff2') format('woff2'),
        url('SonnyVol2-RegularItalic.woff') format('woff'),
        url('SonnyVol2-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sonny Vol 2';
    src: url('SonnyVol2-ExtraBoldItalic.eot');
    src: local('Sonny Vol 2 ExtraBold Italic'), local('SonnyVol2-ExtraBoldItalic'),
        url('SonnyVol2-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('SonnyVol2-ExtraBoldItalic.woff2') format('woff2'),
        url('SonnyVol2-ExtraBoldItalic.woff') format('woff'),
        url('SonnyVol2-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Sonny Vol 2';
    src: url('SonnyVol2-UltraLight.eot');
    src: local('Sonny Vol 2 UltraLight'), local('SonnyVol2-UltraLight'),
        url('SonnyVol2-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('SonnyVol2-UltraLight.woff2') format('woff2'),
        url('SonnyVol2-UltraLight.woff') format('woff'),
        url('SonnyVol2-UltraLight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Sonny Vol 2';
    src: url('SonnyVol2-Bold.eot');
    src: local('Sonny Vol 2 Bold'), local('SonnyVol2-Bold'),
        url('SonnyVol2-Bold.eot?#iefix') format('embedded-opentype'),
        url('SonnyVol2-Bold.woff2') format('woff2'),
        url('SonnyVol2-Bold.woff') format('woff'),
        url('SonnyVol2-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sonny Vol 2';
    src: url('SonnyVol2-Light.eot');
    src: local('Sonny Vol 2 Light'), local('SonnyVol2-Light'),
        url('SonnyVol2-Light.eot?#iefix') format('embedded-opentype'),
        url('SonnyVol2-Light.woff2') format('woff2'),
        url('SonnyVol2-Light.woff') format('woff'),
        url('SonnyVol2-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Sonny Vol 2';
    src: url('SonnyVol2-UltraLightItalic.eot');
    src: local('Sonny Vol 2 UltraLight Italic'), local('SonnyVol2-UltraLightItalic'),
        url('SonnyVol2-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('SonnyVol2-UltraLightItalic.woff2') format('woff2'),
        url('SonnyVol2-UltraLightItalic.woff') format('woff'),
        url('SonnyVol2-UltraLightItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Sonny Vol 2';
    src: url('SonnyVol2-ExtraBold.eot');
    src: local('Sonny Vol 2 ExtraBold'), local('SonnyVol2-ExtraBold'),
        url('SonnyVol2-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('SonnyVol2-ExtraBold.woff2') format('woff2'),
        url('SonnyVol2-ExtraBold.woff') format('woff'),
        url('SonnyVol2-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Sonny Vol 2';
    src: url('SonnyVol2-LightItalic.eot');
    src: local('Sonny Vol 2 Light Italic'), local('SonnyVol2-LightItalic'),
        url('SonnyVol2-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('SonnyVol2-LightItalic.woff2') format('woff2'),
        url('SonnyVol2-LightItalic.woff') format('woff'),
        url('SonnyVol2-LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Sonny Vol 2';
    src: url('SonnyVol2-Thin.eot');
    src: local('Sonny Vol 2 Thin'), local('SonnyVol2-Thin'),
        url('SonnyVol2-Thin.eot?#iefix') format('embedded-opentype'),
        url('SonnyVol2-Thin.woff2') format('woff2'),
        url('SonnyVol2-Thin.woff') format('woff'),
        url('SonnyVol2-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Sonny Vol 2 Book';
    src: url('SonnyVol2-Book.eot');
    src: local('Sonny Vol 2 Book'), local('SonnyVol2-Book'),
        url('SonnyVol2-Book.eot?#iefix') format('embedded-opentype'),
        url('SonnyVol2-Book.woff2') format('woff2'),
        url('SonnyVol2-Book.woff') format('woff'),
        url('SonnyVol2-Book.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sonny Vol 2 UltraBlack';
    src: url('SonnyVol2-UltraBlack.eot');
    src: local('Sonny Vol 2 UltraBlack'), local('SonnyVol2-UltraBlack'),
        url('SonnyVol2-UltraBlack.eot?#iefix') format('embedded-opentype'),
        url('SonnyVol2-UltraBlack.woff2') format('woff2'),
        url('SonnyVol2-UltraBlack.woff') format('woff'),
        url('SonnyVol2-UltraBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Sonny Vol 2';
    src: url('SonnyVol2-BlackItalic.eot');
    src: local('Sonny Vol 2 Black Italic'), local('SonnyVol2-BlackItalic'),
        url('SonnyVol2-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('SonnyVol2-BlackItalic.woff2') format('woff2'),
        url('SonnyVol2-BlackItalic.woff') format('woff'),
        url('SonnyVol2-BlackItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Sonny Vol 2';
    src: url('SonnyVol2-BoldItalic.eot');
    src: local('Sonny Vol 2 Bold Italic'), local('SonnyVol2-BoldItalic'),
        url('SonnyVol2-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('SonnyVol2-BoldItalic.woff2') format('woff2'),
        url('SonnyVol2-BoldItalic.woff') format('woff'),
        url('SonnyVol2-BoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Sonny Vol 2';
    src: url('SonnyVol2-Regular.eot');
    src: local('Sonny Vol 2 Regular'), local('SonnyVol2-Regular'),
        url('SonnyVol2-Regular.eot?#iefix') format('embedded-opentype'),
        url('SonnyVol2-Regular.woff2') format('woff2'),
        url('SonnyVol2-Regular.woff') format('woff'),
        url('SonnyVol2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sonny Vol 2';
    src: url('SonnyVol2-Black.eot');
    src: local('Sonny Vol 2 Black'), local('SonnyVol2-Black'),
        url('SonnyVol2-Black.eot?#iefix') format('embedded-opentype'),
        url('SonnyVol2-Black.woff2') format('woff2'),
        url('SonnyVol2-Black.woff') format('woff'),
        url('SonnyVol2-Black.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Sonny Vol 2 Book';
    src: url('SonnyVol2-BookItalic.eot');
    src: local('Sonny Vol 2 Book Italic'), local('SonnyVol2-BookItalic'),
        url('SonnyVol2-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('SonnyVol2-BookItalic.woff2') format('woff2'),
        url('SonnyVol2-BookItalic.woff') format('woff'),
        url('SonnyVol2-BookItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Sonny Vol 2';
    src: url('SonnyVol2-ThinItalic.eot');
    src: local('Sonny Vol 2 Thin Italic'), local('SonnyVol2-ThinItalic'),
        url('SonnyVol2-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('SonnyVol2-ThinItalic.woff2') format('woff2'),
        url('SonnyVol2-ThinItalic.woff') format('woff'),
        url('SonnyVol2-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

